<%= form_tag(users_path) do %>
  <!-- No need to manually include authenticity token -->

  <div>
    <%= label_tag :username, "User Name:" %>
    <%= text_field_tag 'user[username]', nil, id: "name" %>
  </div>

  <div>
    <%= label_tag :email, "Email:" %>
    <%= text_field_tag 'user[email]', nil, id: "email" %>
  </div>

  <div>
    <%= label_tag :password, "Password:" %>
    <%= password_field_tag 'user[password]', nil, id: "password" %>
  </div>

  <div>
    <%= submit_tag "Submit" %>
  </div>
<% end %>
